{
	# Global options block
	on_demand_tls {
		ask http://localhost:9000/utils/getAllDomains # Replace with your own domain validation API endpoint
	}
}

# Explicitly configure admin.poyoweb.org to use specific certs
admin.poyoweb.org {
	tls /var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/admin.poyoweb.org/cert.pem /var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/admin.poyoweb.org/key.pem
	reverse_proxy localhost:8080 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

# Catch-all for all domains with SSL
https:// {
	# Dynamically handle SSL certificates using Caddy's built-in Let's Encrypt integration
	tls {
		on_demand # Obtain certificates on-demand based on the requested domain
	}

	# Proxy requests to localhost:8080
	reverse_proxy localhost:8080 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

# Redirect HTTP to HTTPS
http:// {
	redir https://{host}{uri} permanent
}
