<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyoweb Admin Portal - <%- title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif' rel='stylesheet'>
	<meta name="description" content="The silliest, open-source static web host's admin portal">
    <meta name="robots" content="noindex">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="PoyoWeb Admin">
</head>
<body>
<% if (typeof message !== 'undefined' && message) { %>
	<center style="padding: 5px; background-color: orange;"><%= message %></center>
<% } %>
