<%- include("adminHeader.ejs") %>
<h2>Welcome to the PoyoWeb Administrator Portal, 
<% if (typeof user !== 'undefined' && user) { %>
  <p>Welcome, <%= user.username %>!</p>
<% } else { %>
  <p>Welcome, guest!</p>
<% } %>
</h2> 
<%- include("adminFooter.ejs") %>
