<%- include('header.ejs') %> 
<% if (locals.loggedIn) { %>
<% } else { %>
<% } %>
<h2>Browse the Poyoweb!</h2>
<i>Browser implemented by Tori.</i><br/>
<form style="display: inline-block" id='search-form'>
    <label>Sort:</label> <select name="sortby" id="sortby">
        <option value="lastUpdated">Recently Updated</option>
        <option value="views">Views</option>
    </select>
    <label>Order:</label> <select name="order" id="order">
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
    </select>
    <button type='submit'>Update Search</button>
</form>
<div id='site-list'></div>
<script>
function search(sortby, order) {
    console.log(sortby, order);
    const site_div = document.getElementById('site-list');
    site_div.innerHTML = '';

    fetch(`/utils/browseWebsites?sortby=${sortby}&order=${order}`, {method: 'GET'}).then(response => {
        if(response.ok) {
            response.json().then((sites) => sites.forEach((site) => {
                site_div.innerHTML += `<button style='display: block; margin-top: 10px; text-align: left;' onclick='location.href="https://${site.domain}"'>
                <h2 style='text-decoration: underline; margin-bottom: 5px; margin-top: 10px;'>${site.name}</h2>
                <p style='margin-top: 0px;'>Views: ${site.views}<br/>Last Updated: ${site.lastUpdated}</p>
                </button>
                `;
            }));
        }
    });
}

function onSearchUpdate(event) {
    event.preventDefault();
    const form = event.target;
    const data = new FormData(form);

    const sortby = data.get('sortby');
    const order = data.get('order');
    search(sortby, order);
}

const form = document.getElementById('search-form');
form.addEventListener('submit', onSearchUpdate);

search('lastUpdated', 'DESC');

</script>
<%- include('footer.ejs') %>
