<%- include("header.ejs") %>
<h2>The Poyoweb's Contributors and Partners</h2>
<p>The PoyoWeb is a community driven project, slowly built thanks to the efforts of many people. Here are some of the most notable contributors, and the partners who make the PoyoWeb possible.</p> 
<ul>
<% t("credits.contributors").forEach(perk => { %>                                                                                                                                  
	<li><%- perk %></li>                                                                                                                                       
<% }); %>
</ul> 
<%- include("footer.ejs") %>
