<%- include("header") %>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
  integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/basic.min.css"
  integrity="sha512-MeagJSJBgWB9n+Sggsr/vKMRFJWs+OUphiDV7TJiYu+TNQD9RtVJaPDYP8hA/PAjwRnkdvU+NsTncYTKlltgiw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<ul>
<% for (let key in files.files) { %>
  <li><%= files.files[key].name %></li>
<% } %>
</ul>
<h2>Upload File</h2>
<form action="/dashboard/upload" class="dropzone" method="POST"></form>
<script>
  Dropzone.autoDiscover = false;
  var myDropzone = new Dropzone(".dropzone", {
    paramName: "file",
    maxFilesize: 419430400, // MB
    uploadMultiple: false,
    dictDefaultMessage: "Drag and drop files here or click to upload",
    init: function () {
      this.on("sending", function (file, xhr, formData) {
        var apiKey = document.getElementById("apiKey").value || "<%- jwt %>";
        formData.append("apiKey", apiKey);
      });
      this.on("success", function (file, response) {
        console.log("File uploaded successfully");
      });
      this.on("error", function (file, response) {
        console.error("File upload error");
      });
    },
  });
</script>
<%- include("footer") %>
