<%- include("header.ejs") %>
<h2>Donate!</h2>
<p>The PoyoWeb is a community project supported by the community itself. If you wish to donate to keep it running, use the form below! All income earned in this Kofi goes directly to the PoyoWeb.</p>
<iframe id='kofiframe' src='https://ko-fi.com/poyo/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='dapoyo'></iframe>
<%- include("footer.ejs") %>
