</div>
<div class="container footer-container">
	<p>&copy; 2024 The PoyoWeb! All rights reserved.</p>
	<div class="row-container footer-links">
		<a href="<%= url %>tos">Terms Of Service</a>
		<a href="https://discord.gg/WE9Nq3FGgK">Discord</a>
		<a href="<%= url %>privacy">Privacy Policy</a>
	</div>
</div>
</div>
</div>
</body>
</html>
