<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyoweb - <%- title %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif' rel='stylesheet'>
</head>
<body>
	<style>
	   	* {
	     	font-family: 'Noto Serif';
	    }
	</style>
	<% if (typeof locals.jwt !== 'undefined' && locals.jwt) { %>
        <span id="apiKey" style="display: none;"><%- locals.jwt %></span>
    <% } %>
    <header>
        <h1>PoyoWeb - <%- title %></h1>
    </header>
    <% if (typeof message !== 'undefined' && message) { %>
        <div id="messages">
            <%- message %>
        </div>
    <% } %>
