<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyoweb - <%- title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif' rel='stylesheet'>
</head>
<body>
	<style>
	   	* {
	     	font-family: 'Noto Serif';
	    }
	</style>
    
	<div class="megacontainer">
	  <div class="Header">
		<h1>PoyoWeb - <%- title %></h1>
	  </div>
	  <div class="Links"></div>
	  <div class="Stats"></div>
	  <% if (typeof message !== 'undefined' && message) { %>
	          <div id="Message">
	              <%- message %>
	          </div>
	  <% } %>
	<div class="Main">
