<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyoweb - <%- title %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <% if (typeof jwt !== 'undefined' && jwt) { %>
        <span id="apiKey" style="display: none;"><%- jwt %></span>
    <% } %>
</head>
<body>
    <header>
        <h1>PoyoWeb - <%- title %></h1>
    </header>
    <% if (typeof message !== 'undefined' && message) { %>
        <div id="messages">
            <%- message %>
        </div>
    <% } %>
