<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyoweb - <%- title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif' rel='stylesheet'>
</head>
<body>
	<style>
	   	* {
	     	font-family: 'Noto Serif';
	    }
	</style>
    
	<div class="megacontainer">
	  <div class="Header">
		<h1>PoyoWeb</h1>
	  </div>
	  <div class="Links">
	    <h2>Links</h2>
	    <a href="<%= url %>">Home</a>
		<% if (loggedIn) { %>
			<a href="/dashboard">Dashboard</a>
			<a href="/auth/logout">Logout</a>
		<% } %>
	  </div>
	  <div class="Stats">
		<h2>Stats</h2>
		<p>Empty for now!</p>
	  </div>
	  <% if (typeof message !== 'undefined' && message) { %>
	          <div class="Message">
	              <%- message %>
	          </div>
	  <% } %>
	<div class="Main">
	<h2><%- title %></h2>
