<%- include('header.ejs') %> 
<% if (locals.loggedIn) { %>
<% } else { %>
<% } %>
<p><b><%- t("index.aboutus") %></b></p>
<p><%- t("index.aboutuscorpus") %></p>
<ul>
	<li>Free custom domains</li>
	<li>500 megabytes of storage</li>
	<li>Cute interactive Dashboard</li>
	<li>Clouds</li>
	<li>A fully integrated web editor for your files</li>
	<li>SSH access to your files</li>
	<li>A super duper cool API for you to use GitHub Actions with</li>
	<li>AI Scrapers and Crawlers are blocked from the entire PoyoWeb, including YOUR site! That means your assets will be safe and round!</li>
	<li>A very cheap 2$/€ tier with all the things you'd expect from a hosting provider.</li>
</ul>
<%- include('footer.ejs') %>
