<%- include('header.ejs') %> 
<% if (locals.loggedIn) { %>
	<a href="/dashboard">Dashboard</a>
    <a href="/auth/logout">Logout</a>
<% } else { %>
    <a href="/auth/login">Login</a>
<% } %>
<p><b>What's the PoyoWeb?</b></p>
<p>The PoyoWeb is a web host made by <a href="https://poyo.study">Poyo</a> and <a href="https://sundown.poyo.study">Team Sundown</a> with many, MANY perks. Some of them will be:<br></p>
<ul>
	<li>Free Custom Domains</li>
	<li>500 megabytes of storage</li>
	<li>Cute interactive Dashboard</li>
	<li>Clouds</li>
	<li>A fully integrated web editor for your files</li>
	<li>SSH access to your files</li>
	<li>A super duper cool API for you to use GitHub Actions with</li>
	<li>AI Scrapers and Crawlers are blocked from the entire PoyoWeb, including YOUR site! That means your assets will be safe and round!</li>
</ul>
<%- include('footer.ejs') %>
