.file-container {
	position: relative;
}

.file {
	margin: 0;
	position: relative;
}
.file > * {
	margin: 0;
}

.file::before {
    content: " ";
    position: absolute;
    width: 1px;
    background-color: black;
    top: 0px;
    bottom: -3vh;
    left: -15px;
}

.file::after {
    content: " ";
    position: absolute;
    left: -15px;
    width: 10px;
    height: 1px;
    background-color: black;
    top: 12px;
}
