:root {
    --primary: #F8F3F6;
    --secondary: #2a1501;
    --tertiary: #a26666;
    --cloudblue: #87b5dd;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;	
	margin: 2vh;
	background: linear-gradient(-45deg, var(--primary) 25%, var(--cloudblue) 25%, var(--cloudblue) 50%, var(--primary) 50%, var(--primary) 75%, var(--cloudblue) 75%);
	background-size: 40px 40px; /* Adjust the size of the stripes */
	animation: slide 5s linear infinite; /* Animation to slide the stripes */
}
.megacontainer {
	background-color: rgba(255,255,255,0.5);
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0px; /* Match background-size for smooth movement */
  }
}
